.quiz-main{
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    @media screen and (max-width:800px) {
        margin-top:10px;
    }
}