@import "../../style/variables";

.current-question-cont{
    width:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    header{
        color:grey;
        padding:20px;
        text-align: center;
    }
    section{
        margin-top: 50px;
        .option{
            border:none;
            background:$quiz-option-bg;
            color:$quiz-option-color;
            padding:20px;
            margin-bottom: 20px;
            cursor: pointer;
            width: 400px;
            max-width: 80vw;
            opacity: .8;
            &.selected{
                opacity: 1;
                background:rgb(206, 216, 13);
                // font-weight: 700;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
    footer{
        padding-top: 40px;
        button{
            margin: auto;
            padding: 15px 30px;
            color: white;
            border: none;
            background: #059d05;
            font-weight: 700;
            cursor: pointer;
        }
    }
    @media screen and (max-width:800px) {
        header{
            padding:0 20px;
            h2{
                font-size: 1.2rem;
                
            }
        }
        section{
            margin-top: 10px;
            padding:0 20px;
        }
        footer{
            display: flex;
            justify-content: center;
            padding-top: 10px;
            button{
                margin: auto;
                width: 230px;
                padding: 15px 30px;
            }
        }
    }
    
}