@import "../../style/variables";

.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: $main-bg;
    max-width: 100vw;
    h1{
        color:$heading-color;
        font-size: 9rem;
    }
    .button-cont{
display: grid;
grid-template-columns: 1fr 1fr;
        button{
            margin: 0 50px;
            width: 80%;
        }
        margin-bottom: 100px;
    }
    @media screen and (max-width:500px) {
        h1{
            font-size: 4rem;
        }
        .button-cont{
            display: flex;
            flex-direction: column;
            button{
                margin-bottom: 30px;
            }
            margin-bottom: 0;
        }
    }
}